.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}
.forbidden-date {
  background-color: #ffeef5 !important;
  color: #8b1b47 !important;
  border-radius: 50% !important;
}

.react-datepicker-popper {
  z-index: 9999 !important;
  position: fixed !important;
}
