# Python
Server/env
Server/__pycache__
Server/instance
Server/.env
Server/dist
__pycache__/
*.pyc
*.pyo

# Node.js
Client/node_modules
Client/public
Client/src/.env
Client/src/.env.production

# Environment files
.env
.env.local
.env.production

# IDE
.idea/
.vscode/

# Docker
db/

# Old files (backup files)
*_old.py
*_mongo.py

# MongoDB data
mongodb_data/